@switch (mode) {
    @case ('basic') {
        <button mat-button [disabled]="isDisabled" [color]="color">{{text}}</button>
    }
    @case ('raised') {
        <button mat-raised-button [disabled]="isDisabled" [color]="color">{{text}}</button>
    }
    @case ('stroked') {
        <button mat-stroked-button [disabled]="isDisabled" [color]="color">{{text}}</button>
    }
    @case ('flat') {
        <button mat-flat-button [disabled]="isDisabled" [color]="color">{{text}}</button>
    }
    @case ('icon') {
        <button mat-icon-button [disabled]="isDisabled" [color]="color"><mat-icon>{{iconName}}</mat-icon></button>
    }
    @case ('fab') {
        <button mat-fab [disabled]="isDisabled" [color]="color"><mat-icon>{{iconName}}</mat-icon></button>
    }
    @case ('mini-fab') {
        <button mat-mini-fab [disabled]="isDisabled" [color]="color"><mat-icon>{{iconName}}</mat-icon></button>
    }
    @case ('extended-fab') {
        <button mat-fab extended [disabled]="isDisabled" [color]="color"><mat-icon>{{iconName}}</mat-icon></button>
    }
}
