@switch (type) {
    @case ('basic') {
        <mat-chip-set>
            @for(chip of data(); track chip){
                <mat-chip [disabled]="chip.isDisabled">
                    {{chip.text}}
                </mat-chip>
            }
        </mat-chip-set>
    }
    @case ('autocomplete') {
        <form>
            <mat-form-field class="example-chip-list">
              <mat-label>{{label}}</mat-label>
              <mat-chip-grid #chipGrid>
                @for (item of selectedItems(); track $index) {
                  <mat-chip-row (removed)="remove(item)">
                    {{item}}
                    <button matChipRemove [attr.aria-label]="'remove ' + item">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                }
              </mat-chip-grid>
              <input
                #Input
                [formControl]="itemCtrl"
                [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
              />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                @for (item of filteredData(); track item) {
                  <mat-option 
                    [value]="item" 
                    [disabled]="item.disabled"
                  >
                    {{item.text}}
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
        </form>           
    }
    @case ('avatar') {
      <mat-chip-set>
        @for(chip of data(); track chip){
            <mat-chip [disabled]="chip.isDisabled">
                <img
                  class="avatar-img"
                  matChipAvatar
                  [src]="chip.src"
                />
                {{chip.text}}
            </mat-chip>
        }
      </mat-chip-set>
    }
    @case ('drag-drop') {
      <mat-chip-set
        class="example-chip"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of data(); track item.text) {
          <mat-chip class="example-box" cdkDrag>{{item.text}}</mat-chip>
        }
      </mat-chip-set>
    }
    @case ('input') {
      <mat-form-field class="example-chip-list">
        <mat-label>{{label}}</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter fruits">
          @for (item of data(); track item) {
            <mat-chip-row
              (removed)="remove(item)"
              [editable]="true"
              (edited)="edit(item, $event)"
            >
              {{item.text}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
          <input
            placeholder="New fruit..."
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-grid>
      </mat-form-field>
    }
}
