<section>
    <app-breadcrumb></app-breadcrumb>

    <div class="container">
        <h3>Badges</h3>

        <div class="badges-wrapper">
            <div class="badge-item">
                <app-badge type="text" content="Text with a badge" badgeContent="4"></app-badge>
            </div>

            <div class="badge-item">
                Button with a badge
                <app-badge type="btn" content="Action" badgeContent="4"></app-badge>
            </div>

            <div class="badge-item">
                Button with a badge on the left
                <app-badge type="btn" content="Action" badgeContent="4" badgePosition="before"></app-badge>
            </div>

            <div class="badge-item">
                Icon with a badge
                <app-badge type="icon" content="home" badgeContent="4"></app-badge>
            </div>

            <div class="badge-item">
                Icon with a badge on the left
                <app-badge type="icon" content="home" badgeContent="4" badgePosition="before"></app-badge>
            </div>
        </div>
    </div>
</section>
