<section>
    <app-breadcrumb/>

    <div class="container">
        <h3>Chips</h3>

        <div class="chips-wrapper">
            <app-chip-item type="basic" [data]="chipsData"/>
        </div>
    </div>

    <div class="container">
        <h3>Chips Autocomplete</h3>

        <div class="chips-wrapper">
            <app-chip-item 
                type="autocomplete" 
                [data]="autocompleteChipsData"
                (emitSelectedItems)="handleActions($event,'autocomplete')"
            />
        </div>
    </div>

    <div class="container">
        <h3>Chips avatar</h3>

        <div class="chips-wrapper">
            <app-chip-item type="avatar" [data]="avatarChipsData"/>
        </div>
    </div>

    <div class="container">
        <h3>Chips Drag and Drop</h3>

        <div class="chips-wrapper">
            <app-chip-item 
                type="drag-drop" 
                [data]="dragDropChipsData"
                (emitDataDropped)="handleActions($event,'drag-drop')"
            />
        </div>
    </div>

    <div class="container">
        <h3>Chips with input</h3>

        <div class="chips-wrapper">
            <app-chip-item 
                type="input" 
                [data]="inputChipsData"
                (emitData)="handleActions($event,'input')"
            />
        </div>
    </div>
</section>
