<section>
    <app-breadcrumb/>

    <div class="container">
        <h3>Basic Chips</h3>

        <div class="chips-wrapper">
            <app-chip-item type="basic" [data]="chipsData"/>
        </div>
    </div>

    <div class="container">
        <h3>Chips Autocomplete</h3>

        <div class="chips-wrapper">
            <app-chip-item 
                type="autocomplete" 
                [data]="chipsData"
                (emitSelectedItems)="handleSelectedItemEmit($event)"
            />
        </div>
    </div>
</section>
