<mat-drawer-container class="drawer-wrapper" autosize [class.closed]="!sidenavOpened">
    <mat-drawer 
      #drawer 
      class="drawer-el" 
      mode="side" 
      [opened]="sidenavOpened"
      (openedChange)="handleToggle($event)"
    >

      <section>
        <div class="header-logo">
            <app-svg-view 
              class="logo-icon" 
              svgPath="icons/logo.svg"></app-svg-view>
        </div>
        <div class="router-items-wrapper">
          <div class="router-items">
            <a class="router-item layout-item-spaces"
              routerLink="/dashboard"
              routerLinkActive="active"
            >
              <app-svg-view 
                class="router-icon" 
                svgPath="icons/dashboard.svg"></app-svg-view>
              <p class="text">Dashboard</p>             
            </a>

            <app-expandable-button
              text="UI"
              icon="ui-box"
              (isOpenEmitter)="expansions.ui.opened= $event"
            ></app-expandable-button>

            <div class="ui-components-wrapper"
                  [ngStyle]="{
                    'height': expansions.ui.opened 
                      ? expansions.ui.data.length * 45 + 'px' 
                      : '0px' 
                  }"
            >
              @for(item of expansions.ui.data; track item){
                <a class="router-item layout-item-spaces {{item.className}} point-items"
                  [routerLink]="'/ui-components/' + item.routerLink"
                  routerLinkActive="active"
                >
                  <app-svg-view 
                    class="router-icon" 
                    svgPath="icons/point.svg">
                  </app-svg-view>
                  <p class="text">{{item.text}}</p>             
                </a>
              }
            </div>
              
          </div>
        </div>
        
      </section>

    </mat-drawer>
  
    <div class="drawer-el-content" >
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>

      <router-outlet></router-outlet>
    </div>
  
</mat-drawer-container>
  