<mat-drawer-container class="drawer-wrapper" autosize [class.closed]="!drawer.opened">
    <mat-drawer 
      #drawer 
      class="drawer-el" 
      mode="side" 
      [opened]="getSidenavSig()"
      (openedChange)="handleToggle($event)"
    >

      <section>
        <div class="header-logo">
            <app-svg-view 
              class="logo-icon" 
              svgPath="icons/logo.svg"
            />
        </div>
        <div class="router-items-wrapper">
          <div class="router-items">
            <a class="router-item layout-item-spaces"
              routerLink="/dashboard"
              routerLinkActive="active"
            >
              <app-svg-view 
                class="router-icon" 
                svgPath="icons/dashboard.svg"
              />
              <p class="text">Dashboard</p>             
            </a>

            <app-expandable-button
              text="UI"
              icon="ui-box"
              (isOpenEmitter)="getExpansionsSig().ui.opened= $event"
            ></app-expandable-button>

            <div class="ui-components-wrapper"
                  [ngStyle]="{
                    'height': getExpansionsSig().ui.opened 
                      ? 'auto'
                      : '0px' 
                  }"
            >
              @for(item of getExpansionsSig().ui.data; track item){
                <a class="router-item layout-item-spaces {{item.className}} point-item"
                  [routerLink]="'/ui-components/' + item.routerLink"
                  routerLinkActive="active"
                >
                  <app-svg-view 
                    class="router-icon" 
                    svgPath="icons/point.svg"
                  />
                  <p class="text">{{item.text}}</p>             
                </a>
              }
            </div>
              
          </div>
        </div>
        
      </section>

    </mat-drawer>
  
    <div class="drawer-el-content" >
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>

      <div class="content">
        <router-outlet/>
      </div>
    </div>
  
</mat-drawer-container>
  