
@switch (type) {
    @case ('text') {
        <div 
            [matBadge]="badgeContent" 
            matBadgeOverlap="false" 
            [matBadgePosition]="badgePosition">
            {{content}}
        </div>
    }
    @case ('btn') {
        <button 
            mat-raised-button 
            [matBadge]="badgeContent" 
            [matBadgePosition]="badgePosition">
            {{content}}
        </button>
    }
    @case ('icon') {
        <mat-icon [matBadgePosition]="badgePosition" [matBadge]="badgeContent">{{content}}</mat-icon>
    }
}