[theme="light"] {
  --background: #f4f7fe;
  --router-item-active-color: #4318ff;
  --router-item-color: #a3aed0;
  --default-gray-color: #a3aed0;
  --default-blue-color: #2b3674;
  --default-bg-hover: #b1adad21;
  --container-title-color: #8792b6;
  --text-hover-dark: rgb(62, 62, 62);
}

[theme="dark"] {
  --background: #0b1437;
}
